
#top {
    position: relative;
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    padding: 5px;
    width: 200px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.title {
    font-size: 25px ;
    font-weight : bold;
    margin-left: 20px;
}

.title-bar{
    background: #373a3c;
}

.title-bar span{
    color: white;
    font-size: 13px;
}
